*{
    margin: 10px;
}

h1{
    font-weight: 500;
    display: inline-block;
    padding: 5px;
    color: rgb(251, 251, 2);
    background-color: rgb(0, 0, 0);
}

.general-div{
    padding: 10px;
    margin: 10px;
    background-color: rgba(231, 231, 231, 0.73);
}

#myImage{
    width: 100px;
}